.GenerateMaleNameButton
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.GenerateFemaleNameButton
{
  background-color: #af4c99; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
  background-color: #FFF8DC;
}

.authors {
  text-align: center;
}

.app_title {
  text-align: center;
}

.app_description {
  text-align: center;
}

.app_controls {
  text-align: center;
}